<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014397381734-btvle7vpae85n3lnkhf47m3gpuiagmsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014397381734-btvle7vpae85n3lnkhf47m3gpuiagmsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBGD_sLrIusg2e4OUG0I_jXCWRuBzdxV9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1014397381734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrejlotski.Meet-App</string>
	<key>PROJECT_ID</key>
	<string>bogstrocieventdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>bogstrocieventdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014397381734:ios:88046ab37efcc93bbd11a7</string>
	<key>DATABASE_URL</key>
	<string>https://bogstrocieventdemo.firebaseio.com</string>
</dict>
</plist>